name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: NandaCorreaa
          snake_color: "#ff69b4"         # Rosa vibrante
          background: "#1a1a1a"          # Fundo escuro elegante
          snake_speed: 8                  # Mais rápido
          pixel_size: 14                  # Pixel maior, cobra mais visível
          width: 900                      # Largura maior
          height: 250                     # Altura maior
          palette: ["#ff69b4", "#00ffff", "#ffff00"] # Cores da cobra multicolorida
          outputs: dist/snake.svg

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



# name: Generate Snake

# on:
#   schedule:
#     - cron: "0 0 * * *"
#   workflow_dispatch:

# jobs:
#   generate:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Generate snake animation
#         uses: Platane/snk@v3
#         with:
#           github_user_name: NandaCorreaa
#           outputs: |
#             dist/snake.svg

#       - name: Push snake to output branch
#         uses: crazy-max/ghaction-github-pages@v3
#         with:
#           target_branch: output
#           build_dir: dist
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
